a{
	color: #212529;
}
.dam
{
	font-weight: bold;
}
.borderbot
{
	border-bottom: 1px solid #ABB1BA;
}
.borderleft
{
	border-left: 1px solid #ABB1BA;
}
.borderdiv
{
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	background-color: #343A40;
	color: #FFFFFF;
	text-align: center;
	margin-top: 10px;
}
.marbotle
{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.martop
{
	margin-top: 10px;
}
.input-recaptcha{
 width:172px;   
}
.red
{
	color: red;
	font-size: 22px;
}
.cao
{
	height: 300px;
	margin-bottom: .75rem;
}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
